<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Robot Control</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="controller">
      <!-- Buttons for controlling the robot -->
      <button id="front" class="arrow">&#8593;</button><br />
      <button id="left" class="arrow">&#8592;</button>
      <button id="stop" class="circle">&#9679;</button>
      <button id="right" class="arrow">&#8594;</button><br />
      <button id="back" class="arrow">&#8595;</button><br />
      <button id="applyGrout" class="toggle-btn">Apply Grout</button>
      <button id="emptyGrout" class="toggle-btn">Empty Grout</button><br />
    </div>

    <!-- Link to the JavaScript file -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
